version: '3.7'

services:
  backend:
    build:
      context: backend
    hostname: backend-test
    container_name: backend-test
    env_file:
      - backend/ops-tools/environments/test/.env
    ports:
      - 8080:3000
    networks:
      - demo_network
    depends_on:
      - db
      - minio

  frontend:
    build:
      context: frontend
      args:
        BACKEND_URL: "https://leaders2022-api.issart.com"
    hostname: frontend-test
    container_name: frontend-test
    ports:
      - 8081:80
    networks:
      - demo_network

  db:
    restart: always
    image: postgres:14-alpine
    hostname: db
    container_name: db
    environment:
      POSTGRES_DB: hackathon_leaders2022
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: xGMeDjwx8o51qFPhAKl3eiJDqaUeP0n3cNAGaEpj0GAoJKojjJpCHDQnXTB2ea5d
    volumes:
      - postgres_data:/var/lib/postgresql/
    ports:
      - "5432:5432"
    networks:
      - demo_network
    logging:
      driver: "json-file"
      options:
        max-size: "500m"

  minio:
    restart: always
    image: minio/minio
    hostname: minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: ZGzoD9iZSpHuVaufnmog3vZldNVCuZmVT6sMPHaekIc274jKeLzxRcANr8Z4ld1h
      MINIO_BROWSER_REDIRECT_URL: "http://172.17.10.19:9001"
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - demo_network
    logging:
      driver: "json-file"
      options:
        max-size: "500m"
    entrypoint: minio server /data --address ":9000" --console-address ":9001"

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set minio http://minio:9000 root ZGzoD9iZSpHuVaufnmog3vZldNVCuZmVT6sMPHaekIc274jKeLzxRcANr8Z4ld1h;
      /usr/bin/mc ls minio;
      /usr/bin/mc rm -r --force minio/hackathon;
      /usr/bin/mc mb minio/hackathon;
      /usr/bin/mc policy download minio/hackathon;
      exit 0;
      "
    networks:
      - demo_network

volumes:
  postgres_data:
    name: demo-pg-data
  minio_data:
    name: demo-minio-data

networks:
  demo_network:
    driver: bridge
